body{
	background-color : #7f6f8f;
	text-align : center;
}
h3{
	text-decoration : underline;
	margin-top : 30px;
	height : 59px; 
}

.choice-container{
	display : flex;
	justify-content : center;
	align-item : center;
	gap : 2.5rem;
	margin-top : 50px
}
.choice{
	background-color :none;
	border : none
	cursor : pointer;
	transition : transform 0.2s;
}
.choice : hover{
	tranform : scale(1.1);
}
.hand-img{
	height : 250px;
	width : 300px;
	border-radius : 50%;
	padding :10px;
	object-fit : contain;
}
